export(networkBMA)
export(summary.networkBMA)
export(iBMAcontrolLM)
export(iterateBMAlm)
export(varord)
export(contabs)
export(contabs.prelim)
export(contabs.netwBMA)
export(matrixFormat)
export(scores)
export(prc)
export(roc)
export(writeEdges)
