importFrom("graphics", "abline", "lines", "plot", "segments")
importFrom("stats", "coef", "cor", "lm", "lm.fit", "logLik",
             "ls.print", "lsfit", "optim")
importFrom("utils", "write.table")
import(BMA,Rcpp,RcppArmadillo,RcppEigen)
useDynLib(networkBMA)
export(networkBMA)
export(summary.networkBMA)
export(iBMAcontrolLM)
export(iterateBMAlm)
export(varord)
export(contabs)
export(contabs.prelim)
export(contabs.netwBMA)
export(matrixFormat)
export(scores)
export(prc)
export(roc)
export(writeEdges)
export(ScanBMAcontrol)
export(gControl)
export(ScanBMA)
export(fastBMAcontrol)
export(fastgControl)
